.btn-cart {
  all: unset;
  background-color: hsl(173, 95%, 42%) !important;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  text-align: center;
  /* align-items: center; */
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  width: fit-content;
}
.btn-cart:hover {
  background-color: black !important;
  cursor: pointer;
}

.add-cart-span {
  margin-left: 25px;
}
