/*  Accessories section */
.accessories-section {
  /* border: 2px solid rgb(47, 11, 209); */
  margin-top: 110px;
  min-height: 150vh;
}

.accessories-section-one {
  /* border: 2px solid rgb(206, 30, 30); */
  /* height: 16vh; */
  margin: 50px;
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  gap: 420px;
  padding: 50px;
}
.accessories-to-home {
  /* border: 2px solid rgb(206, 30, 30); */
  color: hsl(173, 95%, 42%) !important;
  font-size: 13, 8px;
  position: relative;
  top: 62px;
  right: 30px;
}
.accessories-section-two {
  /* border: 2px solid rgb(234, 24, 220); */
  position: relative;
  top: 62px;
}
.accessories-section-two p {
  /* border: 2px solid rgb(24, 234, 178)!important; */
  color: #777;
  font-size: 15px;
  margin-left: 32px;
}
.slection-icons-accessoir {
  /* border: 2px solid rgb(24, 234, 178); */
  position: relative;
  left: 38px;
  bottom: 7px;
  text-align: center;
}
.accessories-section-third {
  /* border: 2px solid rgb(234, 210, 24); */
  /* display: flex; */
  position: relative;
  left: 1115px;
  display: flex;
  gap: 10px;
}
.accessories-section-four {
  /* border: 2px solid rgb(92, 160, 15); */
  /* height: 116vh; */
  width: 1500px;
  /* height: 750px; */
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 55px;
  padding: 0px 0px 55px;
}

/* Define styles for screens up to 650px */
@media only screen and (max-width: 600px) {
  /* Accessories section */
  .accessories-section {
    min-height: 100vh; /* Adjusted minimum height */
  }

  .accessories-section-one {
    margin: 20px; /* Adjusted margin */
    display: flex;
    flex-direction: column; /* Change to column layout */
    gap: 20px; /* Adjusted gap */
    justify-content: center; /* Center content */
    text-align: center; /* Center text */
    padding: 20px; /* Adjusted padding */
  }

  .accessories-to-home {
    top: 0; /* Reset top */
    right: 0; /* Reset right */
    font-size: 12px; /* Adjusted font size */
  }

  .accessories-section-two {
    top: 0; /* Reset top */
    text-align: center; /* Center text */
  }

  .accessories-section-two p {
    margin: 10px auto; /* Adjusted margin */
  }

  .slection-icons-accessoir {
    left: 0; /* Reset left */
    bottom: 0; /* Reset bottom */
    text-align: center; /* Center text */
  }

  .accessories-section-third {
    left: 0; /* Reset left */
    justify-content: center; /* Center content */
    gap: 20px; /* Adjusted gap */
  }

  .accessories-section-four {
      /* border: 2px solid rgb(92, 160, 15); */
      width: auto; 
      /* padding: 20px;  */
      gap: 20px;
      display: flex;
      justify-content: space-around;
  }
  
}

/*  Accessories section */
