/* LANDING PAGE */
.parent-div {
  /* border: 6px rgb(1, 1, 0) solid; */
  width: 1900px;
  margin: auto;
  /* height: 240px; */
}
::selection {
  background-color: #cf2e2e;
}
.hero-section {
  /* border: 2px rgb(202, 221, 28) solid; */
  background-color: hsl(180, 43%, 97%);
  display: flex;
  justify-content: center;
  height: 99vh;
  width: 1000;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-position: center;
  /* width: fit-content; */
  margin: auto;
  height: 1000px;
}

.hero-section-content {
  /* border: 2px red solid; */
  /* width: 700px; */
  height: 750px;
  padding: 0 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 60px;
  top: 250px;
}
.hero-section-content h1 {
  /* border: 2px red solid; */
  /* font-size: 55px;
    line-height: 66px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    width: 310px;
    color: black;
    height: 75px; */
  font-size: 3.6666666666667rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: hsl(173, 95%, 42%) !important;
}
.hero-titlle {
  /* border: 2px solid black; */
  color: rgba(71, 69, 69, 0.787) !important;

  position: absolute;
  bottom: 650px;
  font-size: 1.5333333333333rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.hero-second-title {
  /* border: 2px solid black; */
  font-size: 1.1333333333333rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 540px;
  color: hsl(173, 95%, 42%) !important;
}

/* card-km components */
.card-km-info {
  /* border: 2px solid black; */
  display: flex;
  gap: 15px;
  margin-bottom: 90px;
  position: absolute;
  top: 220px;
}

.card-km {
  border: 1px solid rgba(0, 0, 0, 0.257);
  line-height: 90.8571px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  text-align: center;

  /* font-family: "Montserrat", sans-serif; */
}
.card-km span {
  /* border: 2px solid black; */
  position: relative;
  bottom: 35px;
  font-size: 1.5333333333333rem;
  /* font-weight: 700; */
  font-family: "Montserrat", sans-serif;
}
.card-km-p {
  /* border: 2px solid black; */
  position: relative;
  bottom: 105px;
  /* font-size: 15px; */
}

/* btn-cart */

.add-cart-section {
  /* border: 2px solid black; */
  display: flex;
  gap: 1px;
  position: absolute;
  bottom: 280px;
  align-items: center;
}

.add-cart-span {
  margin-left: 25px;
}
.scoter-hero-section img {
  /* border: 2px solid black; */
  /* display: flex; */
  position: relative;
  /* bottom: 55px; */
  left: 110px;
  bottom: 300px;
}
.last-section-title {
  /* border: 2px solid red; */
  font-size: 1.5333333333333rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: hsl(173, 95%, 42%) !important;
}
.last-section-hero {
  /* border: 2px solid rgb(26, 192, 56); */
  position: relative;
  height: 220px;
  width: 250px;
  position: relative;
  left: 100px;
  top: 300px;
}

.last-section-titlle-p {
  /* border: 2px solid red; */
  width: 280px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5.6em;
}
.last-section-logos-titlle {
  /* border: 2px solid red; */

  font-size: 1rem;

  line-height: 1.7;
  color: hsl(173, 95%, 42%) !important;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.fb-logo {
  /* border: 1px solid black; */
  /* background-color: black; */
  border-radius: 50%;
  font-size: 35px;
}
.fb-logo:hover {
  background-color: hsl(173, 95%, 42%);
  cursor: pointer;
}
.twiter-logo {
  /* border: 1px solid black; */
  /* background-color: black; */
  border-radius: 50%;
  font-size: 35px;
}
.twiter-logo:hover {
  background-color: hsl(173, 95%, 42%);
  cursor: pointer;
}
.youtube-logo {
  /* border: 1px solid black; */
  /* background-color: black; */
  border-radius: 50%;
  font-size: 35px;
}
.youtube-logo:hover {
  background-color: hsl(173, 95%, 42%);
  cursor: pointer;
}
/* solo-product section */
.solo-product-parent-div {
  /* border: 1px solid black; */
  margin-top: 110px;
  min-height: 150vh;
  /* margin: auto; */
  /* display: flex; */
  /* height: 1200px; */
}

.solo-product {
  /* border: 1px solid black; */
  /* width: 1900px; */
  margin: auto;
  /* height: 1520VH; */
  /* display: flex;
    justify-content: center;
    gap: 10px; */
}
.products-cont {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 150px;
}

/* .product-img {
    border: 2px solid rgb(203, 27, 27);
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  } */

.products-mains {
  /* border: 2px solid rgb(62, 203, 27); */
  display: flex;
  gap: 34px;
  position: relative;
  right: 10px;
  bottom: 60px;
  /* width: fit-content; */
}

.content-card-boxx {
  /* border: 1px solid rgb(48, 181, 27); */
  width: 500px;
  /* padding: 50px; */
  /* position: relative; */
  height: max-content;
  /* bottom: -60px; */
}

.electric-scooters-scooter-accs {
  display: flex;
  color: hsl(180, 8%, 3%) !important;
  cursor: pointer;
  /* font-size: 15px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.product-content-scooter-accs {
  font-weight: 400;
  color: hsl(173, 95%, 42%) !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  left: -0px;
  /* height: 900px; */
}
.box-prices-scooter-accs {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 10px;
}
.cut-price-scooter-accs {
  color: #0000007e;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.price-without-cut-scooter-accs {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}
.quantity-buttons_added-scooter-accs {
  /* border: 1px solid rgba(24, 24, 24, 0.246); */
  width: 90px;
  text-align: center;
  height: 35px;
  /* all: unset; */
}
.screen-reader-text {
  /* border: #000000 solid 2px; */
  padding: 5px;
}
.label-btn-scooter-accs {
  /* border: #000000 solid 2px; */
  display: flex;
  gap: 20px;
  /* padding: 40px; */
  height: 70px;
}

legend {
  /* padding: 0 8px; */

  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.544);
  /* font-size: medium; */
}
.payment-methods-scooter-accs {
  padding: 10px;
  text-align: center;
}
.safe-scooter-accs {
  display: flex;
  flex-direction: column;
}
.reviews {
  /* border: #000000 solid 2px; */
  position: relative;
  bottom: 150px;
}
