body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
}

.cadre {
  /* border: 2px solid black; */
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
}

h2 {
    /* border: 12px solid black!important; */

  color: #333;
}

.review-form textarea,
.review-form input {
  /* border: 12px solid black!important; */

  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}


@media screen and (max-width: 600px) {.review-form textarea,
  .review-form input {
    /* border: 12px solid black!important; */
  
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }


}

