/* card-km components */

.card-km {
  border: 1px solid rgba(0, 0, 0, 0);
  line-height: 90.8571px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  text-align: center;

  /* font-family: "Montserrat", sans-serif; */
}
.card-km span {
  /* border: 2px solid black; */
  position: relative;
  bottom: 45px;
  font-size: 1.5333333333333rem;
  /* font-weight: 700; */
  font-family: "Montserrat", sans-serif;
}
.card-km-p {
  /* border: 2px solid black; */
  position: relative;
  bottom: 80px;
  /* font-size: 15px; */
  /* color:hsl(173, 95%, 42%) !important; */
}

/* second section */

a {
  text-decoration: none !important;
}
.line-through {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.238);
  font-size: 0.9em;
}

/* second seciton */

/* about section */
.about-section {
  /* border: 2px solid rgb(46, 210, 35); */
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  position: relative;
  bottom: 230px;

  margin: 0;
}





/* section five */
.section-five {
  /* border: 2px solid rgb(59, 201, 27); */
  height: 80vh;
  background-color: hsl(195, 57%, 97%);
  /* display: flex; */
  height: 800px;
}
.content-five {
  /* border: 2px solid rgb(59, 201, 27); */
  display: flex;
  justify-content: center;
  gap: 50px;
  /* align-items: center; */
  position: relative;
  top: 82px;
}
.section-five-content {
  /* border: 2px solid rgb(59, 201, 27); */
  height: 500px;
  width: 500px;
  padding: 100px;
  position: relative;
  top: 120px;
  /* text-align: center; */
}
.section-five-content h1 {
  /* border: 2px solid rgb(59, 201, 27); */
  width: 430px;
  font-size: 2.6666666666667rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.section-five-content p {
  /* border: 2px solid rgb(59, 201, 27); */
  width: 400px;
}



