/* NAVBAR */

.nav-container {
  /* border:2px solid rgb(212, 13, 13); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  
}

.nav {
    /* border:2px solid rgb(212, 13, 13); */

  display: none;
  flex-direction: column;
  gap: 44px;
  position: absolute;
  top: 100%;
  left: 0;
  font-style: italic;
  font-weight: 600;
  background-color: white;
}

.nav.active {
  display: flex;
}

.nav li {
  /* border: 2px solid red; */
  font-size: 0.9rem;
}

.logo {
  width: 100px;
}

.nav-toggle {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav {
    /* border: 2px solid red!important; */
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
    top: initial;
    left: initial;
  }

  .nav.active {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .logo {
    width: 100px; /* Adjust as needed */
  }

  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    border: 2px solid red;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
    max-height: calc(100vh - 50px);

  }

  .nav li {
    font-size: 0.8rem;
    color: black;
  }

  .logo {
    border: 2px solid black;
    margin-top: -20px;
    width: 120px;
    /* height: 20px; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-toggle {
    display: block; /* Show toggle button on smaller screens */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .nav-container {
    border:2px solid rgb(212, 13, 13);
    height: 90px;
    /* width: 390px; */

  }
  
}






/* admin-aside */

.admin-aside {
  /* border: 1px black solid !important; */
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 1143px;
  padding-top: 20px;
  padding: 70px;
  background-color: hsl(150, 15%, 89%) !important;
  /* color: black !important; */
}
.aside-link {
  font-size: 2rem;
}
