.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
}
.admin-aside {
  /* border: 2px solid black; */
  color: aquamarine;
  height: 100%;
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 470px;
}
.userItemContainer {
  /* Your existing styles */
  height: 503px !important;
  width: 250px !important;
  
  /* Box Shadow */
  /* box-shadow: 100px 0px 100px 100px rgba(0,0,0,0.1);  */
   background-color: hsl(150, 15%, 89%) !important;
}
/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px rgb(149, 149, 149) solid !important;
  padding: 25px;
  /* width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  border-radius: 10px; */
}

.imageInput {
  border: 4px black solid !important;
}
.custom {
  width: 632px; /* Adjust the width value as needed */
}

.orders-container {
  width: 90%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.table-data {
  width: 80%;
  margin-top: 50px;
}

.profil-container-admin {
  /* border: 4px black solid !important; */
  display: flex !important;
  justify-content: flex-end !important;
}
.userItemContainer .ui.button {
  border: none;
  /* border-radius: 50; */
  /* width: 100px; */
  /* height: 40px; */
  font-size: 16px;
  font-weight: bold;
}

.userItemContainer .ui.button.ban {
  background-color: red;
  color: white;
}

.userItemContainer .ui.button.unban {
  background-color: green;
  color: white;
}