.dashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  margin-top: 90px;
  height: 120vh;
  display: flex;
}

.profil-container-admin {
  /* border: 7px black solid !important; */
  /* width: 500px !important; */
  /* position: relative; */
  /* right: 70px; */
}

.userCardSolo {
  /* border: 4px black solid !important; */
  margin: 50px;
  height: 450px;
}
.userItemContainer {
  /* border: 4px black solid !important; */
  height: 400px !important;

  /* position: relative;
  left: 100px; */

  background-color: hsl(173, 95%, 42%) !important;
}
/* .dashboardProduct {
  border: 4px black solid !important;
  margin-top: 90px;
  min-height: 90vh;
} */
.dashboardProductform {
  border: 1px black solid !important;
  width: 660px;
  height: 240px;
  position: absolute;
  left: 800px;
  bottom: 820px;
  /* text-align: center; */
  border-radius: 10px;
}
.imageInput {
  border: 4px black solid !important;
}
.custom {
  width:332px; /* Adjust the width value as needed */
}

