.dashboard {
  border: 2px solid rgb(213, 20, 20);
  margin-top: 110px;
  min-height: 150vh;
  display: flex;
}
.profile-admin {
  /* border: 2px solid rgb(11, 209, 74); */
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
  /* background-color: hsl(173, 95%, 42%); */
  /* padding: 20px; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  position: relative;
  bottom: 1370px;
  left: 490px;
}

.admin-aside {
  border: 1px black solid !important;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 300px;
  padding-top: 20px;
  padding: 70px;
  background-color: hsl(173, 95%, 42%) !important;
  color: black !important;
}
.aside-link {
  font-size: 2rem;
}
