* {
  box-sizing: border-box;
}

.nav-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
  min-height: 70px;
}
.nav {
  /* border: 2px solid red; */
  margin-left: 56px;
  padding: 30px;
}
ul {
  /* border: 2px solid black; */
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}

.logo {
  /* border: 2px solid black; */
  position: relative;
  right: 90px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  margin-right: 5px;
  padding: 5px;
}

.search-button {
  background-color: rgb(201, 53, 53);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.icons {
  /* border: 2px solid black;  */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.shopping-basket-icon {
  margin-left: 10px;
  color: rgb(201, 53, 53);
  font-size: 1.5rem;
}

.user-icon {
  margin-left: 10px;
  /* color: rgb(201, 53, 53); */
  font-size: 1.5rem;
}
