* {
  box-sizing: border-box;
}
/* NAVBAR */
.nav-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
  min-height: 70px;
  border-bottom: 1px rgb(244, 239, 239) solid;
}
.nav {
  /* border: 2px solid red; */
  margin-left: 40px;
  padding: 10px;
}
.nav a {
  text-decoration: none;
  color: black;
}
ul {
  /* border: 2px solid black; */
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}
.nav a :hover {
  color: rgb(201, 53, 53);
}

.logo {
  /* border: 2px solid black; */
  position: relative;
  right: 90px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  margin-right: 5px;
  padding: 5px;
  outline: none;
 
}
.search-button:hover {
background-color: black;
}


.search-button {
  background-color: rgb(201, 53, 53);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* .search-form  :hover {
  background-color: black;
} */

.icons {
  /* border: 2px solid black;  */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.shopping-basket-icon {
  margin-left: 10px;
  color: rgb(201, 53, 53);
  font-size: 1.5rem;
}

.user-icon {
  margin-left: 10px;
  /* color: rgb(201, 53, 53); */
  font-size: 1.5rem;
  
}
.user-icon a {
  color: black;
}

/* shopbasketicon */
.shoppingBasket {
  color: ;
  border: 1px solid ;
  

}






/* LOGIN */
.page {
  display: flex;
  gap: 20px;
  padding: 300px;
}
.login-form {
  border: 2px rgba(0, 0, 0, 0.202) solid;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 450px;
}
