* {
  box-sizing: border-box;
}
/* NAVBAR */
.nav-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
  min-height: 70px;
  border-bottom: 1px rgb(244, 239, 239) solid;
}
.nav {
  /* border: 2px solid red; */
  margin-left: 40px;
  padding: 10px;
}
.nav a {
  text-decoration: none;
  color: black;
}
ul {
  /* border: 2px solid black; */
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}
.nav a :hover {
  color: rgb(201, 53, 53);
}

.logo {
  /* border: 2px solid black; */
  position: relative;
  right: 90px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  margin-right: 5px;
  padding: 5px;
  outline: none;
}
.search-button:hover {
  background-color: black;
}

.search-button {
  background-color: rgb(201, 53, 53);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* .search-form  :hover {
  background-color: black;
} */

.icons {
  /* border: 2px solid black;  */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.shopping-basket-icon {
  margin-left: 10px;
  color: rgb(201, 53, 53);
  font-size: 1.5rem;
}

.user-icon {
  margin-left: 10px;
  /* color: rgb(201, 53, 53); */
  font-size: 1.5rem;
}
.user-icon a {
  color: black;
}

/* shopbasketicon */
.shoppingBasket {
  border: 1px solid;
}

/* LOGIN */
.page {
  display: flex;
  gap: 20px;
  padding: 300px;
}
.login-form {
  border: 2px rgba(0, 0, 0, 0.202) solid;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 450px;
}
/* hero section */
.hero-section-first {
  border: 2px rgb(28, 58, 212) solid;
  min-height: 60vh;
  /* min-width: 1025px; */
  margin: 150px;
  padding: 50px;
  background-image: url(../public/assets/home/bg-01.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section {
  /* border: 2px rgb(28, 58, 212) solid; */
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */

}

.hero-section-content {
  /* border: 2px red solid; */
  width: 800px;
  padding: 0 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  /* line-height: 1.5; */
}
.hero-section-content h1 {
  /* border: 2px red solid; */
  font-size: 55px;
  line-height: 66px;
  text-align: left;
  /* font-family: 'Montserrat', sans-serif; */
  width: 310px;
color: black;
 height:75px ;
}
.hero-titlle {
  color: var( --e-global-color-astglobalcolor3 );
  font-size: 1.5333333333333rem;
    /* font-weight: 700; */
    font-family: 'Montserrat',sans-serif;
    /* border: 2px solid black; */
    margin: 0;
    /* height:55px ; */
    position: relative;
    bottom: 50px;
}
.hero-second-title {
  /* font-family: 'Montserrat',sans-serif; */
  font-size: 17px;
}

/* card-km components */
.card-km {
  border: 2px solid black;
  line-height: 90.8571px;
  width: 80px;
  height: 99px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  letter-spacing: normal;
  box-shadow: none;
  /* font-family: "Open Sans", sans-serif; */
  /* font-size: 27px; */
}
.card-km span {
  /* border: 2px solid black; */
  position: relative;
  bottom: 35px;
  font-size: 15px;
}
.card-km p {
  /* border: 2px solid black; */
  position: relative;
  bottom: 95px;
  font-size: 12px;
}
.card-km-info {
  /* border: 2px solid black; */
  display: flex;
  gap: 15px;
  margin-bottom: 90px;
  position: relative;
  bottom: 25px;
}
/* .card-km-info-third {
  width: 190px;
  height: 99px;
} */

/* btn-cart */
.btn-cart {
  all: unset;
  background-color: rgb(201, 53, 53);
  border-radius: 5px;
  height: 45px;
  width: 160px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}
.add-cart-section {
  /* border: 2px solid black; */
  display: flex;
  gap: 1px;
  position: relative;
  bottom: 75px;
  align-items: center;
}
.add-cart-span {
  margin-left: 25px;
}
.scoter-hero-section {
  border: 2px solid black;
  display: flex;
  /* width: 658px;
  height: 577px; */
  /* height: auto; */
    /* max-width: 100%; */
    /* border: none; */
    /* border-radius: 0; */
    box-shadow: none;
}
.last-section-hero {
  border: 2px solid rgb(26, 192, 56);
}
