.profilDashboard {
  /* border: 2px solid rgb(213, 20, 20); */
  height: 120vh;
}
.profile-container {
  /* border: 2px solid rgb(11, 209, 74); */
  width: 800px;
  height: 470px;
  margin: 50px auto;
  background-color: hsl(173, 95%, 42%);
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 170px;
  /* left: 20px; */
}
.profil-container-user {
  position: relative;
  left: 250px;
  /* background-color: hsl(173, 95%, 42%)!important; */
}
