.profil {
  /* border: 2px solid rgb(213, 20, 20); */
  /* background-color: aqua; */
  margin-top: 90px;
  min-height: 150vh;
}
.profile-container {
  /* border: 2px solid rgb(11, 209, 74); */
  width: 1000px;
  height: 600px;
  margin: 50px auto;
  /* background-color: hsl(173, 95%, 42%); */
  /* padding: 20px; */
  border-radius: 48px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 200px;
  /* left: 20px; */
}
.profil-container-user {
  /* border: 7px solid rgb(11, 209, 74) !important; */

  /* position: relative;
  left: 250px; */
  /* background-color: hsl(173, 95%, 42%)!important; */
  height: 570px;
}

.orders-container-user {
  /* border: 2px solid rgb(213, 20, 20) !important; */
  /* width: 90%; */
  /* min-height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  width: 100%;
  margin-top: 50px;
}
/* Define styles for screens up to 650px */
@media only screen and (max-width: 768px) {
  /* Profile section */
  .profil {
    margin-top: 250px; /* Adjusted margin */
    min-height: 230vh; /* Adjusted minimum height */
  }

  .profile-container {
    width: 90%; /* Adjusted width */
    top: 100px; /* Adjusted top */
    left: 0; /* Reset left */
    right: 0; /* Reset right */
    position: static; /* Reset position */
  }

  .profil-container-user {
    /* border: 2px solid rgb(213, 20, 20) !important; */
    align-items: center;
    height: 630px; /* Adjusted height */
    /* display: flex;
    flex-direction:column; */
    position: relative;
    right: 200px;
  }
  .profil-container-user img {
    /* border: 2px solid rgb(213, 20, 20) !important; */
  }
  .profil-container-user h3 {
    /* border: 2px solid rgb(213, 20, 20) !important; */
  }

  .orders-container-user {
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
    
  }
  .modal {
    /* border: 2px solid rgb(213, 20, 20) !important; */
    /* margin-left: 50px!important; 
    width: 90px !important;
    height: auto; */
    position: relative!important;
    margin-right: 1040px!important;
    margin-bottom: 550px!important;
    width: 550px!important;
    height: 370px!important;

}
}
